extends ../layout.jade
block content
  div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
    h1 Agregar Productos
    form(method="post" action="/productos" style="margin-top:1.5em;" enctype="multipart/form-data")
      div(class="form-group")
        label Nombre
        input(type="text" name="title" placeholder="Nombre del producto" class="form-control")
      div(class="form-group")
        label Descripci칩n
        textarea(name="description" placeholder="Descripci칩n del producto" class="form-control")
      div(class="form-group")
        label Costo
        input(type="number" name="pricing" placeholder="Costo del producto" class="form-control")
      div(class="form-group")
        label Imagen del producto
        input(type="file" name="image")
      div(class="form-group")
        label Contrase침a
        input(type="password" name="password" placeholder="Contrase침a" class="form-control")
      div(class="form-group")
        input(type="submit" name="submit" class="form-control btn btn-primary" value="Guardar")
            
    
