doctype html
html(lang="es")
  head
    title Best Laptops
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href="/css/estilos.css" rel="stylesheet")
    link(href="css/animate.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico" rel="stylesheet")
  body
    div(class="col-md-8 center-block quitar-float text-center espacio-arriba")
      img(src="images/apple.jpg" alt="mackbook pro" class="animated fadeIn")
      h1(class="pacifico grande verde animated fadeIn retraso-1") Best Laptops
      div(class="animated fadeInDown retraso-2")
        h3 Enjoy the best of notebooks
        nav(class="mediana")
          a(href="/productos" class="espacio-derecha") Catalog
          a(href="contacto.html" class="espacio-derecha") Contact  
