doctype html
html(lang="es")
  head
    title Best Laptops
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href="/css/estilos.css" rel="stylesheet")
    link(href="css/animate.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico" rel="stylesheet")
  body
    nav(class="se-gris padding-largo text-center mediana")
      ul(class="no-lista row")
        li(class="col-md-3 inline-block")
          a(href="index.html" class="pacifico verde") Best Laptops
          
        li(class="col-md-3 inline-block")
          a(href="contacto.html" class="pacifico verde") Contact
    block content
    
